 <div>
  <p>title : <%=@post.title %></p>
  <p>body : <%= @post.body %></p>
  <%= image_tag @post.get_image %>
  <p>by <%= @post.end_user.name %><%= image_tag @post.end_user.get_profile_image(100, 100) %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.end_user == current_end_user %>
      <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %> 
  
  
 
 <div>
  <P>コメント件数 : <%= @post.post_comments.count %></P>
  <% @post.post_comments.each do |post_comment| %>
   <p><%= image_tag post_comment.end_user.get_profile_image(100,100) %></p>
   <%= link_to post_comment.end_user.name, end_user_path(post_comment.end_user.id) %>
   <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.body %>
   <% if post_comment.end_user == current_end_user %>
    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
   <% end %>
  <% end %>
 </div>
 
 <div>
  <%= form_with model: [@post, @post_comment] do |f| %>
   <%= f.text_area :body, rows: '5' %>
   <%= f.submit "コメントする" %>
  <% end %>
 </div>