 <div>
  <p>title : <%=@question.title %></p>
  <p>body : <%= @question.body %></p>
  <%= image_tag @question.get_image %>
  <p>by <%= @question.end_user.name %><%= image_tag @question.end_user.get_profile_image(100, 100) %></p>
  <p>æŠ•ç¨¿æ—¥ï¼š<%= @question.created_at.strftime('%Y/%m/%d') %></p>
  <% if @question.end_user == current_end_user %>
      <%= link_to "å‰Šé™¤", question_path(@question), method: :delete %>
  <% end %> 
  
  <% if @question.bookmarked_by?(current_end_user) %>
      <p>
       <%= link_to question_bookmarks_path(@question), method: :delete do %>
        ðŸ”¹<%= @question.bookmarks.count %>ãƒ–ãƒƒã‚¯ãƒžãƒ¼ã‚¯
       <% end %>
      </p>
  <% else %>
      <p>
       <%= link_to question_bookmarks_path(@question), method: :post do %>
        â—‡<%= @question.bookmarks.count %>ãƒ–ãƒƒã‚¯ãƒžãƒ¼ã‚¯
       <% end %>
      </p>
  <% end %>
 </div>
 
 <div>
  <P>å›žç­”ä»¶æ•° : <%= @question.answers.count %></P>
  <% @question.answers.each do |answer| %>
   <p><%= image_tag answer.end_user.get_profile_image(100,100) %></p>
   <%= link_to answer.end_user.name, end_user_path(answer.end_user.id) %>
   <%= answer.created_at.strftime('%Y/%m/%d') %><%= answer.body %>
   <% if answer.end_user == current_end_user %>
    <%= link_to "å‰Šé™¤", question_answer_path(answer.question, answer), method: :delete %>
   <% end %>
  <% end %>
 </div>
 
 <div>
  <%= form_with model: [@question, @answer] do |f| %>
   <%= f.text_area :body, rows: '5' %>
   <%= f.submit "å›žç­”ã™ã‚‹" %>
  <% end %>
 </div>